// Amaze UI Mobile: Notification
// =============================================================================
@import "../helper";
// Mixins
// -----------------------------------------------------------------------------
@mixin notification-style(
  $background: $notification-background,
  $color: $notification-color
) {
  @if ($color == 'auto') {
    $color: islight($background);
  }

  background: rgba($background, 0.9);
  color: $color;
}


// Output
// -----------------------------------------------------------------------------

.#{$notification-prefix} {
  display: flex;
  width: 100%;
  padding: $notification-padding;

  @include notification-style();
}

.#{$notification-prefix}-icon {
  cursor: pointer;
}

.#{$notification-prefix}-content {
  flex: 1;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &,
  .#{$notification-prefix}-title {
    font-size: $font-size-sm;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.#{$notification-prefix}-title {
  margin: 0;
  color: inherit;
}

// Modifiers
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  @if ($color-key != 'dark') {
    .#{$notification-prefix}-#{$color-key} {
      @include notification-style($color, auto);
    }
  }
}

// Animation
// -----------------------------------------------------------------------------
.#{$notification-prefix}-animated {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: $z-index-notification;
  transform-style: preserve-3d;
}
.#{$notification-prefix}-enter {
  transform: scaleY(0);
  transform-origin: 50% 0%;
}
.#{$notification-prefix}-enter-active {
  transition: all 0.3s ease-in-out;
  transform: scaleY(1);
  transform-origin: 50% 0%;
}

.#{$notification-prefix}-loop .#{$notification-prefix}-leave {
  transform: scaleY(1);
  transform-origin: 50% 100%;
}
.#{$notification-prefix}-loop .#{$notification-prefix}-leave-active {
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: 50% 100%;
}
.#{$notification-prefix}-single .#{$notification-prefix}-leave {
  transform: scaleY(1);
  transform-origin: 50% 0%;
}
.#{$notification-prefix}-single .#{$notification-prefix}-leave-active {
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  transform-origin: 50% 0%;
}
